.bookFormStyle {
    border: solid;
    border-width: 2px;
    padding: 20px;
    margin: 5px;
    border-color: #4078c2;
    color: #236bc8;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    max-width: 100%;
    text-align: center;
}


.authButtons {
 
    background-color: #99a7b9;

  max-width: 60rem;
  margin: 0 auto;



}

.authButtons > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .authButtons label {
    margin: 1rem 0;
  }