.App {
  text-align: center;
}

body{
background-color: rgb(243, 241, 241);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.success {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.hideWhenVisible {
  font: inherit;
  border: 1px solid #9b9fd4;
  background: #16ad55;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 12px;
  margin: 6px;
  font-size: 20px;
}

.hideWhenVisible:hover,
.hideWhenVisible:active {
    background: rgb(76, 207, 24);
    background: rgb(76, 207, 24);
}

.hideWhenVisible:focus {
    outline: none;
}

.headerNsort {
  display: flex;
  justify-content:center;
  padding-right: 10;
  padding-left: 30;
}