.bookStyle {
    border: solid;
    border-width: 2px;
    padding: 20px;
    margin: 5px;
    border-color: rgb(214, 212, 209);
    color: #236bc8;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    max-width: 100%;
    text-align: center;
    background-color: rgb(251, 248, 243);
}

.bookTitle{
    font-weight: bold;
}
